<!DOCTYPE html>
  <html>
    <head>
      <title>FORTUNES</title> 
    </head>
    
    <body>
      <h3>Your fortune is</h3>
      <h2> HI, <%=@the_user%> your fortune is <%=@the_fortune%> </h2>
    </body>
  </html>